html {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}



body {
    margin: 0;
    background-image: url(imgs/21133091.jpg);
}

.home {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

h1 {
    color: #1C658C;
}

img {
    width: 200px;
    height: 110px;
}

#thirdDiv {
    width: 200px;
    height: 200px;
    background-color: #EEEEEE;
    padding: 50px;
    border-color: red;
    border-style: grooves;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}

/*
div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
} */